<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head"/>
<body>

<!-- Barra de Navegación superior -->
<nav th:replace="fragments/nav"/>



<div class="container">
  <h2>Profesores</h2>
  <p>Los profesores que actualmente figuran en el sistema son las siguientes:</p>                                                                                      
  <div class="table-responsive">          
  <table class="table table-hover">
    <thead>
      <tr>
        <th class="col-md-1">id</th>
        <th>DNI</th>
        <th>Nombre</th>
        <th>Apellidos</th>
        <th>Categoría</th>
		<th class="col-md-1"> </th>
		<th class="col-md-1"> </th>
		<th class="col-md-1"> </th>
		<th class="col-md-1"> </th>
		<th class="col-md-1"> </th>
      </tr>
    </thead>
	<tbody>
	  <tr th:each="p : ${profList}">
	    <td th:text="${p.id}"> 1</td>
	    <td th:text="${p.dni}">10</td>
	    <td th:text="${p.nombre}"> Ejercicio 1</td>
	    <td th:text="${p.apellidos}">10</td>
	    <td th:text="${p.categoria}">10</td>
	    <td><a th:href="${'/professor/details/' + p.id}">detalles</a></td>
	    <td><a th:href="${'/professor/edit/' + p.id}">modificar</a></td>
	    <td><a th:href="${'/professor/delete/' + p.id}">eliminar</a></td>
	  </tr>
	</tbody>
  </table>
  </div>
</div>

<footer th:replace="fragments/footer"/>
</body>
</html>
