<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" />
<body>

	<!-- Barra de Navegación superior -->
	<nav th:replace="fragments/nav" />



	<div class="container">
		<h2 th:text="#{Mark.details.h2}">Detalles de la nota</h2>
		<div class="panel panel-default">
			<div class="panel-heading" th:text="#{User.list.campo1}">DNI</div>
			<div class="panel-body" th:text="${mark.user.dni}">28276</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading" th:text="#{Mark.list.campo2}">Descripción</div>
			<div class="panel-body" th:text="${mark.description}">
				Ejercicio 1</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading" th:text="#{Mark.list.campo3}">Puntuación</div>
			<div class="panel-body" th:text="${mark.score}">100</div>
		</div>
	</div>

	<footer th:replace="fragments/footer" />
</body>
</html>
