<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" />
<body>
	<!-- Barra de Navegación superior -->
	<nav th:replace="fragments/nav" />
	<div class="container">
		<h2 th:text="#{User.add.h2}">Registráte como usuario</h2>
		<form class="form-horizontal" method="post" action="/signup"
			th:object="${user}">
			<div class="form-group">
				<label class="control-label col-sm-2" for="dni" th:text="#{User.add.campo1}">DNI:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="dni"
						th:placeholder="#{Ejemplo.dni}" required="true" /> <span
						class="text-danger" th:if="${#fields.hasErrors('dni')}"
						th:errors="*{dni}">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="name" th:text="#{User.add.campo2}">Nombre:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="name"
						th:placeholder="#{Ejemplo.name}" required="true" /> <span
						class="text-danger" th:if="${#fields.hasErrors('name')}"
						th:errors="*{name}" />

				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="lastName" th:text="#{User.add.campo3}">Apellidos:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="lastName"
						th:placeholder="#{Ejemplo.lastName}" required="true" /> <span
						class="text-danger" th:if="${#fields.hasErrors('lastName')}"
						th:errors="*{lastName}" />

				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="password" th:text="#{User.add.campo4}">Password:</label>
				<div class="col-sm-10">
					<input type="password" class="form-control" name="password"
						th:placeholder="#{Ejemplo.pswd}" /> <span class="text-danger"
						th:if="${#fields.hasErrors('password')}" th:errors="*{password}" />

				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="passwordConfirm" th:text="#{User.add.campo5}">Repita
					el Password:</label>
				<div class="col-sm-10">
					<input type="password" class="form-control" name="passwordConfirm"
						th:placeholder="#{Ejemplo.repetirPswd}" /> <span class="text-danger"
						th:if="${#fields.hasErrors('passwordConfirm')}"
						th:errors="*{passwordConfirm}" />

				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-primary" th:text="#{Button.send}">Enviar</button>
				</div>
			</div>
		</form>
	</div>
	<footer th:replace="fragments/footer" />
</body>
</html>